{% extends "app/layout.html" %}

{% block content %}

<!DOCTYPE html>
<html>
<head>
    <title>{{ about_us }}</title>
</head>
<body>
    <h1>{{ message }}</h1>
    <p>&copy; {{ year }}</p>

    <p>Отсутствие туров не в летний период зачастую является огромной проблемой для отдыхающих, поскольку тяжело найти то, что полностью удовлетворит все ваши желания. Именно поэтому наша компания называется «Отдых круглый год»! Мы не привязаны к времени года и можем подобрать вам тур в любой из 365 дней в году. Поездка на горнолыжный курорт зимой, отдых на море летом, наслаждение расцветающей природой весной или же осенний отдых, который определенно имеет свои плюсы, отличающиеся от других времен года. Это лишь малая часть из того, что мы можем Вам предложить. Путешествие по России и в другие страны с нами пройдут легко и без проблем, ведь это и есть «Отдых круглый год», который мы с удовольствием Вам организуем.</p>
</body>
</html>

{% endblock %}